.carrosel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 .5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}


/* Card */

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em ;
    line-height: 21px;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
    align-items: center;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}

.descricao {
    margin: 0 .5em .5em 0;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
}

.descricao__imagem {
    max-width: 146px;
}

.botoes__item {
    margin: 0 0.5em;
}

.botoes__ancora {
    background-color: var(--laranja);
    padding: 1em 1.7em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    
    .carrosel__titulo {
        font-size: 26px;
        padding: 2em 0 .8em 0;
    }
    

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }

}

@media screen and (min-width: 1728px) {

    .carrosel__container {
        display: flex;
        margin: 0 20vw;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        margin-left: 3em;
        margin-top: 4em;
        width: 70%;
    }

    .descricao__titulo {
        font-size: 26px;
        line-height: 1.5em;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .descricao {
        margin: 0 3.5em 0.5em 0;
    }

}